### Pyspark Dataframes

- Filter Operation 
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('dataset/test2.csv', header = True, inferSchema = True)

In [5]:
df_pyspark.show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Krish| 31|        10| 30000|
|Sudhan| 30|         8| 25000|
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Eonkim| 23|         2| 18000|
|  Jeff| 24|         5| 21000|
+------+---+----------+------+

### Filter Operations

In [8]:
# salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Eonkim| 23|         2| 18000|
+------+---+----------+------+

In [13]:
df_pyspark.filter('Salary<=20000').select(['Name', 'age']).show()

+------+---+
|  Name|age|
+------+---+
| Sunny| 29|
|  Paul| 24|
|Harsha| 21|
|Eonkim| 23|
+------+---+

In [16]:
df_pyspark.filter('Salary <= 20000').collect()

[Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000),
 Row(Name='Eonkim', age=23, Experience=2, Salary=18000)]

In [18]:
df_pyspark.filter(df_pyspark.Salary <= 20000).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Eonkim| 23|         2| 18000|
+------+---+----------+------+

In [20]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & (df_pyspark['age'] >= 24)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Sunny| 29|         4| 20000|
| Paul| 24|         3| 20000|
+-----+---+----------+------+

In [24]:
df_pyspark.filter((df_pyspark.age >= 21) & (df_pyspark.age <= 30)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Sudhan| 30|         8| 25000|
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Eonkim| 23|         2| 18000|
|  Jeff| 24|         5| 21000|
+------+---+----------+------+

In [25]:
df_pyspark.filter((df_pyspark.Salary <= 20000) & (df_pyspark.Salary >= 15000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Sunny| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Eonkim| 23|         2| 18000|
+------+---+----------+------+

In [28]:
df_pyspark.filter(~(df_pyspark.Salary <= 20000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Krish| 31|        10| 30000|
|Sudhan| 30|         8| 25000|
|  Jeff| 24|         5| 21000|
+------+---+----------+------+